<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-responsive.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <% scripts.push('jquery-1.9.1.min.js', 'jquery.validate.js', 'signupform.js', 'bootstrap.js') %>
    <%- renderScriptsTags(scripts) %>
  </head>
  <body>
  <div class="navbar navbar-fixed-top navbar-inverse">
            <div class="navbar-inner">
                <div class="container"><!-- Collapsable nav bar -->
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>

                    <!-- Your site name for the upper left corner of the site -->
                    <a class="brand" href="/">PhoneGap events app generator</a>

                    <!-- Start of the nav bar content -->
                    <div class="nav-collapse"><!-- Other nav bar content -->

                        
                        

                        <!-- The drop down menu -->
                        <ul class="nav pull-right">
                            
                                <li>
                                    <a href="">
                                        Welcome, <%= user %>
                                    </a>
                                </li>
                                <li class="divider-vertical"></li>
                                <li>
                                    <a href="/logout/">
                                        Logout
                                    </a>
                                </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
  <div id="main-container" class="container">
  <div class="row-fluid">
  <div class="span3"></div>
  <div class="span6">
      <div id="legend">
        <legend>Administration panel</legend>
      </div>
      <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <b>Warning:</b> deleting an user and its info is a PERMANENT action.
      </div>
      <!--<p class="lead">Admin panel</p>-->
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th class="span2">User</th>
            <th class="span2">Name</th>
            <th class="span6">Organization</th>
            <th width="span2">Email</th>
            <th class="span2">Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
  	     <% for(var i=0; i < rows.length; i++) { %>
          <tr>
            <td class="span2"><a href="/user/<%= rows[i].uname %>"><%= rows[i].uname %></a></td>
            <td class="span2"><%= rows[i].realname %></td>
            <td class="span6"><%= rows[i].org %></td>
            <td width="span2"><%= rows[i].email %></td>
            <td class="span2"><span class="label label-success">Active</span></td>
            <td>
          	 <a href="/user/edit/<%=rows[i].uname %>"><i class="icon-edit"></i></a>
              <a href="/user/delete/<%=rows[i].uname %>" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
            </td>
          </tr> 
        <% } %>
        </tbody>
      </table>
      <div class="btn-toolbar">
        <a class="btn btn-primary" href="/register/"><i class="icon-white icon-plus-sign"></i> New User</a>
      </div>
</div>
</div>
</div>
<footer>
    <img id="logo-left" src="/static/img/morelab.png" width="150" />
    <img id="logo-right" src="/static/img/deustotech.png" width="150" />
  </footer>
</body>
</html>