<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
	<link rel='stylesheet' href='/stylesheets/bootstrap-responsive.css' />
  </head>
  <body>	
  <div class="span4"></div>
  <div class="span4">
  <p class="lead">Your app list, <%= username %></p>
  <table class="table table-striped">
	  <thead>
      <tr>
          <th style="width: 200px;">Event</th>
          <th style="width: 200px;">Description</th>
          <th style="width: 200px;">Start Date</th>
          <th style="width: 200px;">End date</th>
          <th style="width: 200px;">Location</th>
          <th style="width: 200px;">Actions</th>
      </tr>
  </thead>   
  <tbody>
  	 <% for(var i=0; i < events.length; i++) { %>
     <tr>
        <td style="width: 36px;"><%= events[i].ename %></td>
        <td style="width: 200px;"><%= events[i].descr %></td>
        <td style="width: 200px;"><%= events[i].sdate %></td>
        <td style="width: 200px;"><%= events[i].edate %></td>
        <td style="width: 200px;"><%= events[i].location %></td>
        <td style="width: 200px;"><span class="label label-success">Active</span></td>
        <td style="width: 200px;">
        	<a href=""><i class="icon-pencil"></i></a> <a href="" role="button" data-toggle="modal"><i class="icon-remove"></i></a>
        </td>
     </tr> 
    <% } %>
  </tbody>
</table>
<div class="btn-toolbar">
    <a href=""><button class="btn btn-primary" href="/register">New Event</button></a>
</div>
</div>
</div>
  </body>
</html>
