<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
	<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
	<link rel='stylesheet' href='/stylesheets/bootstrap-responsive.min.css' />
	<link rel='stylesheet' href='/stylesheets/bootstrap-responsive.css' />
  <% scripts.push('jquery-1.9.1.min.js', 'jquery.validate.js', 'signupform.js', 'bootstrap.js') %>
  <%- renderScriptsTags(scripts) %>
  </head>
  <body>
  <div class="span3"></div>
  <div id="main-container" class="container">
 <form class="form-horizontal" id='signupform' action='/editevent' method="POST">
  <fieldset>
    <div id="legend">
      <legend class="">Change event and app information</legend>
    </div>
    <div class="control-group">
      <!-- Username -->
      <label class="control-label"  for="ename">Event name</label>
      <div class="controls">
        <input type="text" id="ename" name="ename" value="<%= even.fullname %>" placeholder="" class="required input-xlarge">
      </div>
    </div>

    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="descr">Description:</label>
      <div class="controls">
        <textarea rows="5" id="descr" name="descr" value="" placeholder="" class="required input-xlarge"><%= even.descr %></textarea>
      </div>
    </div>

    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="sdate">Start date:</label>
      <div class="controls">
        <input type="text" id="sdate" name="sdate" value="<%= even.sdate.getUTCFullYear() %>-<%= ('0' + (even.sdate.getUTCMonth() + 1)).slice(-2)%>-<%= ('0' + even.sdate.getUTCDate()).slice(-2) %> <%= ('0' + even.sdate.getHours()).slice(-2) %>:<%= ('0' + even.sdate.getMinutes()).slice(-2) %>" placeholder="" class="required input-xlarge">
      </div>
    </div>

    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="edate">End date:</label>
      <div class="controls">
        <input type="text" id="edate" name="edate" value="<%= even.edate.getUTCFullYear() %>-<%= ('0' + (even.edate.getUTCMonth() + 1)).slice(-2) %>-<%= ('0' + even.edate.getUTCDate()).slice(-2) %> <%= ('0' + even.edate.getHours()).slice(-2) %>:<%= ('0' + even.edate.getMinutes()).slice(-2) %>" placeholder="" class="required input-xlarge">
      </div>
    </div>


    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="location">Location</label>
      <div class="controls">
        <input type="text" id="location" name="location" value="<%= even.location %>" placeholder="" class="required input-xlarge">
      </div>
    </div>
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success">Update</button>
      </div>
    </div>
</div>
    <input type="hidden" name="_csrf" value="<%= token %>">
  </fieldset>
</form>
</div>
  </body>
</html>