<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
	<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
	<link rel='stylesheet' href='/stylesheets/bootstrap-responsive.min.css' />
	<link rel='stylesheet' href='/stylesheets/bootstrap-responsive.css' />
  <% scripts.push('/javascripts/jquery-1.9.1.min.js', '/javascripts/jquery.validate.js', '/javascripts/signupform.js', '/javascripts/bootstrap.js') %>
  <%- renderScriptsTags(scripts) %>
  </head>
  <body>
  <div class="navbar navbar-fixed-top navbar-inverse">
            <div class="navbar-inner">
                <div class="container"><!-- Collapsable nav bar -->
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>

                    <!-- Your site name for the upper left corner of the site -->
                    <a class="brand" href="/">PhoneGap events app generator</a>

                    <!-- Start of the nav bar content -->
                    <div class="nav-collapse"><!-- Other nav bar content -->

                        
                        

                        <!-- The drop down menu -->
                        <ul class="nav pull-right">
                            
                                <li>
                                    <a href="">
                                        Welcome, <%= user %>
                                    </a>
                                </li>
                                <li class="divider-vertical"></li>
                                <li>
                                    <a href="/logout/">
                                        Logout
                                    </a>
                                </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
  <div id="main-container" class="container">
  <div class="row-fluid">
  <div class="span3"></div>
  <div class="span6">
 <form class="form-horizontal" id='signupform' action='../update' method="POST">
  <fieldset>
    <div id="legend">
      <legend class="">Change event and app information</legend>
    </div>
    <div class="control-group">
      <!-- Username -->
      <label class="control-label"  for="ename">Event name</label>
      <div class="controls">
        <input type="text" id="ename" name="ename" value="<%= even.fullname %>" placeholder="" class="required input-xlarge">
      </div>
    </div>

    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="descr">Description:</label>
      <div class="controls">
        <textarea rows="5" id="descr" name="descr" value="" placeholder="" class="required input-xlarge"><%= even.descr %></textarea>
      </div>
    </div>

    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="sdate">Start date:</label>
      <div class="controls">
        <input type="text" id="sdate" name="sdate" value="<%= even.sdate.getUTCFullYear() %>-<%= ('0' + (even.sdate.getUTCMonth() + 1)).slice(-2)%>-<%= ('0' + even.sdate.getUTCDate()).slice(-2) %> <%= ('0' + even.sdate.getHours()).slice(-2) %>:<%= ('0' + even.sdate.getMinutes()).slice(-2) %>" placeholder="" class="required input-xlarge">
      </div>
    </div>

    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="edate">End date:</label>
      <div class="controls">
        <input type="text" id="edate" name="edate" value="<%= even.edate.getUTCFullYear() %>-<%= ('0' + (even.edate.getUTCMonth() + 1)).slice(-2) %>-<%= ('0' + even.edate.getUTCDate()).slice(-2) %> <%= ('0' + even.edate.getHours()).slice(-2) %>:<%= ('0' + even.edate.getMinutes()).slice(-2) %>" placeholder="" class="required input-xlarge">
      </div>
    </div>


    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="location">Location</label>
      <div class="controls">
        <input type="text" id="location" name="location" value="<%= even.location %>" placeholder="" class="required input-xlarge">
      </div>
    </div>
    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success">Update</button>
      </div>
    </div>
</div>
</div>
  </fieldset>
</form>
</div>
  <footer>
    <img id="logo-left" src="/static/img/morelab.png" width="150" />
    <img id="logo-right" src="/static/img/deustotech.png" width="150" />
  </footer>
  </body>
</html>