<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/bootstrap.css' />
	<link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
	<link rel='stylesheet' href='/stylesheets/bootstrap-responsive.min.css' />
	<link rel='stylesheet' href='/stylesheets/bootstrap-responsive.css' />
  <% scripts.push('jquery-1.9.1.min.js', 'jquery.validate.js', 'signupform.js') %>
  <%- renderScriptsTags(scripts) %>
  </head>
  <body>
  <div class="span4"></div>
  <div class="span4">
 <form class="form-horizontal" id='signupform' action='editevent' method="POST">
  <fieldset>
    <div id="legend">
      <legend class="">Edit event information</legend>
    </div>
    <div class="control-group">
      <!-- Username -->
      <label class="control-label"  for="ename">Event name</label>
      <div class="controls">
        <input type="text" id="ename" name="ename" value="<%= even.ename %>" placeholder="" class="required input-xlarge">
        <p class="help-block">Username can contain any letters or numbers, without spaces</p>
      </div>
    </div>

    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="email">Description:</label>
      <div class="controls">
        <input type="text" id="email" name="email" value="<%= even.descr %>" placeholder="" class="required input-xlarge">
        <p class="help-block">Please provide your E-mail</p>
      </div>
    </div>

    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="realname">Start date:</label>
      <div class="controls">
        <input type="text" id="realname" name="realname" value="<%= even.sdate %>" placeholder="" class="required input-xlarge">
        <p class="help-block">Please provide your E-mail</p>
      </div>
    </div>

    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="realname">End date:</label>
      <div class="controls">
        <input type="text" id="realname" name="realname" value="<%= even.edate %>" placeholder="" class="required input-xlarge">
        <p class="help-block">Please provide your E-mail</p>
      </div>
    </div>


    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="realname">Location</label>
      <div class="controls">
        <input type="text" id="realname" name="realname" value="<%= even.location %>" placeholder="" class="required input-xlarge">
        <p class="help-block">Please provide your E-mail</p>
      </div>
    </div>


    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success">Update</button>
      </div>
    </div>
    <input type="hidden" name="_csrf" value="<%= token %>">
  </fieldset>
</form>
</div>
  </body>
</html>
