<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-responsive.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-responsive.css' />

    <% scripts.push('/javascripts/jquery-1.9.1.min.js', '/javascripts/jquery.validate.js', '/javascripts/signupform.js', '/javascripts/bootstrap.js', 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false', '/javascripts/map.js') %>
    <%- renderScriptsTags(scripts) %>
  </head>
  <body>
  <div class="navbar navbar-fixed-top navbar-inverse">
            <div class="navbar-inner">
                <div class="container"><!-- Collapsable nav bar -->
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>

                    <!-- Your site name for the upper left corner of the site -->
                    <a class="brand" href="/"><img src="/static/img/logo.png" width="10" /> Events app generator</a>

                    <!-- Start of the nav bar content -->
                    <div class="nav-collapse"><!-- Other nav bar content -->

                        
                        

                        <!-- The drop down menu -->
                        <ul class="nav pull-right">
                            
                                <li>
                                    <a href="">
                                        Welcome, <%= user %>
                                    </a>
                                </li>
                                <li class="divider-vertical"></li>
                                <li>
                                    <a href="/logout/">
                                        Logout
                                    </a>
                                </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
  <div id="main-container" class="container">
  <div class="row-fluid">
  <div class="span4"></div>
    <div class="span6">
      <div id="legend">
        <legend class="">Event: <%= even.fullname %></legend>
      </div>

      <b>Event information:</b>
      <p><%= even.descr %></p>

      <p><b>Start date:</b> <%= even.sdate %></p>
      <!--<%= even.sdate.getUTCFullYear() %>-<%= ('0' + (even.sdate.getUTCMonth() + 1)).slice(-2)%>-<%= ('0' + even.sdate.getUTCDate()).slice(-2) %> <%= ('0' + even.sdate.getHours()).slice(-2) %>:<%= ('0' + even.sdate.getMinutes()).slice(-2) %>-->

      <p><b>End date:</b> <%= even.edate %> </p>
      <!-- <%= even.edate.getUTCFullYear() %>-<%= ('0' + (even.edate.getUTCMonth() + 1)).slice(-2) %>-<%= ('0' + even.edate.getUTCDate()).slice(-2) %> <%= ('0' + even.edate.getHours()).slice(-2) %>:<%= ('0' + even.edate.getMinutes()).slice(-2) %>-->

      <b>Location:</b> <%= even.location %> <button class="btn-mini btn-primary" id="locate" onclick="codeAddress()"><i class="icon-map-marker icon-white"></i> Locate</button>
      <input type="hidden" id="address" value="<%=even.location %>">
      <br/><br/>
      <div id="map-canvas"></div>
      <br/>
      <div class="btn-toolbar">
        <td class="span3">
          <a class="btn btn-primary" href="/app/settings/<%=even.ename %>"><i class="icon-wrench icon-white"></i> App settings</a>
          <a class="btn btn-success" href="/app/build/<%=even.ename %>"><i class="icon-qrcode icon-white"></i> Build app</a>
          <a class="btn btn-success" href="/app/download/<%=even.ename %>"><i class="icon-download icon-white"></i> Download .apk</a>
        </td>
      </div>
    </div>
  </div>
</div>
    <footer>
      <img id="logo-left" src="/static/img/morelab.png" width="150" />
      <img id="logo-right" src="/static/img/deustotech.png" width="150" />
  </footer>
  </body>
</html>
